*{
    box-sizing: border-box;
}

.mainDisplayContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.mainDisplay {
    width: 75%;
}

.meetTheTeamContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.meetTheTeamText {
    width: 320px;
    height: 212px;
    position: relative;
}

.meetTheTeamCard {
    display: flex;
    gap: 5%;
    padding-bottom: 5%;
}

.jobResults {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    margin-bottom: 5%;
}